.learn-html {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a8e284;
}

li {
    float: left;
    padding-left: 10%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #f47a92;
}

/* .author-image 
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
} */